/* ==========================================================================
Footer
========================================================================== */

.reseaux {
    display: inline-block;
    width: 100%;
    height: relative;
}