<div class="modal-header">
	<h4 class="modal-title">{{titre}}</h4>
	<button aria-label="Close" data-dismiss="modal" class="close"
		type="button" (click)="activeModal.dismiss('closed')">
		<span aria-hidden="true">x</span>
	</button>
</div>
<div class="modal-body">
	<h4 class="modal-title">{{description}}</h4><br>
	<form class="form" role="form" (ngSubmit)="consulterSouvenir()">
	<div style="text-align:center">
		<button type="submit" class="btn btn-primary">Consulter vos souvenirs</button>
	</div>
		
	</form>
	<p></p>
</div>
