<div class="modal-header">
    <h4 class="modal-title">{{titre}}</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
    
        <div class="col-md-8">
            <form class="form" role="form">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <p></p>
         
        </div>
    </div>
</div>
