<meta charset="UTF-8">
<div class="modal-header">
	<h4 class="modal-title">{{titre}}</h4>
	<button aria-label="Close" data-dismiss="modal" class="close"
		type="button" (click)="activeModal.dismiss('closed')">
		<span aria-hidden="true">x</span>
	</button>
</div>
<div class="modal-body">
	<h4 class="modal-title">{{description}}</h4>
	<br>
	<form class="form" role="form">
		<div style="text-align: center">
			<button type="submit" class="btn btn-info btn-sm"
				(click)="consulterSouvenir()"
				*ngIf="idMemory != null">
				<span class="fa fa-eye"></span> <span class="d-none d-md-inline">Accéder
					au souvenir</span>
			</button>
			<button 
				*ngIf="idMemory == null"
				class="btn btn-primary btn-sm"
				(click)="creerSouvenir()">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline">Créer un souvenir</span>
			</button>
		</div>

	</form>
	<p></p>
</div>
