<meta charset="UTF-8"/>
<div class="row">
    <div class="col-lg-6">
        <span class="welcome img-fluid rounded"></span>
    </div>
        
    <div class="col-lg-6">
        <h1 class="display-4">Bienvenue sur Travel Diary !</h1>
        <p class="lead">Le monde pour album souvenir</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Tu es connecté en tant que "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Déjà membre ? </span>
                <a class="alert-link" (click)="login()">Identifie-toi</a>
                <br/>
                <span>Pas encore dans la communauté ?</span>
                <a class="alert-link" routerLink="register">Rejoins-nous</a>
            </div>
        </div>
		<div>
	        Travel Diary c'est quoi ?<br/>
	        <br/>
	        C'est un carnet de voyage qui te permet de géolocaliser tes photos sur une carte du monde.<br/>
	        Place un marqueur, ajoute un titre, une description et rajoute tes photos... voilà ton souvenir est créé :)
        </div>
        
    </div>
</div>